{% extends "base.html" %}


{% block something %}
    <div class="welcome">
        {% if profile %}
        <h3> {{ profile.name }} {{ profile.family_name }}</h3>
        <h3>خوش آمدید!</h3>
    {% else %}
        <h3>خوش آمدید!</h3>
    {% endif %}
    </div>
    <a href="{% url 'logout' %}" class="logout-button">خروج</a>
{% endblock %}

{% block content %}
<div class="cart-container">
    <h2 class="cart-title">سبد خرید شما</h2>
    <ul class="cart-items">
        {% for item in items %}
            <li class="cart-item">
                {% if item.pizza %}
                    {{ item.quantity }} x {{ item.pizza.name }} - {{ item.pizza.price }} تومان
                {% elif item.burger %}
                    {{ item.quantity }} x {{ item.burger.name }} - {{ item.burger.price }} تومان
                {% elif item.pasta %}
                    {{ item.quantity }} x {{ item.pasta.name }} - {{ item.pasta.price }} تومان
                {% elif item.salad %}
                    {{ item.quantity }} x {{ item.salad.name }} - {{ item.salad.price }} تومان
                {% elif item.appetizer %}
                    {{ item.quantity }} x {{ item.appetizer.name }} - {{ item.appetizer.price }} تومان
                {% elif item.drink %}
                    {{ item.quantity }} x {{ item.drink.name }} - {{ item.drink.price }} تومان
                {% endif %}
                <form action="{% url 'remove_from_cart' item.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">حذف</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <p class="cart-total">مجموع: {{ cart.get_total_price }} تومان</p>
    <form action="{% url 'place_order' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">ثبت سفارش</button>
    </form>
</div>
{% endblock %}
