{% extends "base.html" %}

{% block something %}
{% if user.is_authenticated and not user.is_staff %}
<div class="welcome">
    {% if profile %}
    <h3> {{ profile.name }} {{ profile.family_name }}</h3>
    <h3>خوش آمدید!</h3>
    {% else %}
        <h3>خوش آمدید!</h3>
    {% endif %}
    </div>
    <a href="{% url 'logout' %}" class="logout-button">خروج</a>
{% else %}
<div class="auth-buttons">
    <a href="{% url 'login' %}" class="auth-button">ورود</a>
    <a href="{% url 'signup' %}" class="auth-button">ثبت نام</a>
</div>
{% endif %}
{% endblock %}
